.Alert {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    transition: all 0.3s ease-out;
}
.Danger {
    background: rgba(201, 57, 53, 0.5);
    top: 20px;
    left: 20px;
}
.Warning {
    background: rgba(170, 6, 10, 0.8);
    top: 70px;
    left: 20px;
}
.Success {
    background: rgba(107, 154, 201, 0.5);
    top: 20px;
    right: 20px;
}
.Primary{
    background: rgba(214, 209, 24, 0.5);
    top: 70px;
    right: 20px;
}



.someText {
    float: left;
    padding-left: 15px;
    margin: 10px 0;
}
.closeAlert {
    border: none;
    background: rgba(255, 255, 255, 0);
    float: right;
    margin: 10px;
}
.Close {
    display: none;
}